.ecommerce-list-section {
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto;
}

  .ecommerce-list-section .ecommerce-title-section {
    margin-left: 12px;
    padding-bottom: 24px;
  }


  .android-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
  }

    .android-card-container .mdl-card__media img {
      width: 100%;
    }

  .android-card-container .mdl-card__title {
    background: transparent;
    height: auto;
  }

  .android-card-container .mdl-card__title-text {
    color: black;
    height: auto;
  }

  .android-card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 56px;
  }

  .android-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }

.android-card-container .mdl-card__actions .android-link {
  margin-top: 16px;
  display: block;
  float: right;
  z-index: 2;
}

  .android-card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
  }